# Python 3.10

# URL for PyTorch cu118 builds (must be placed at the top)
--extra-index-url https://download.pytorch.org/whl/cu118

# URL for MMCV cu118 + torch 2.2
-f https://download.openmmlab.com/mmcv/dist/cu118/torch2.2/index.html

# Core deep learning frameworks
torch==2.2.1+cu118
torchvision==0.17.1+cu118

timm==0.9.12

# Computer vision and image processing
opencv-python==4.11.0.86
albumentations==2.0.8
matplotlib==3.10.7
Pillow==12.0.0

# Utilities
numpy==1.26.4 
tqdm==4.67.1
scipy==1.15.3

# MMCV and MMEngine
mmcv==2.2.0
mmengine==0.10.7

ftfy==6.3.1
regex==2025.11.3

# VMamba dependencies
fvcore>=0.1.5             
triton>=2.1.0            
causal-conv1d>=1.2.0      
mamba-ssm>=1.2.0          



# 1. install PyTorch first
# pip install torch==2.2.1+cu118 torchvision==0.17.1+cu118 --index-url https://download.pytorch.org/whl/cu118

# 2. install other packages before causal-conv1d and mamba-ssm
# pip install timm==0.9.12 opencv-python==4.11.0.86 albumentations==2.0.8 matplotlib==3.10.7 Pillow==12.0.0 numpy==1.26.4 tqdm==4.67.1 scipy==1.15.3 mmengine==0.10.7 ftfy==6.3.1 regex==2025.11.3 fvcore>=0.1.5 triton==2.2.0



# 3. install mmcv from OpenMMLab
# pip install mmcv==2.2.0 -f https://download.openmmlab.com/mmcv/dist/cu118/torch2.2/index.html

# 4. install causal-conv1d and mamba-ssm with --no-build-isolation to use PyTorch already installed
# pip install causal-conv1d==1.2.0.post2 --no-build-isolation
# pip install mamba-ssm>=1.2.0 --no-build-isolation

# 5. install selective_scan
# cd /mnt/F/Research/ColonFormer/kernels/selective_scan
# pip install . --no-build-isolation

################## ver2





# 1. install PyTorch first
# pip install torch==2.4.1+cu124 torchvision==0.19.1+cu124 torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cu124

# 2. install other packages before causal-conv1d and mamba-ssm
# pip install timm==0.9.12 opencv-python==4.11.0.86 albumentations==2.0.8 matplotlib==3.10.7 Pillow==12.0.0 numpy==1.26.4 tqdm==4.67.1 scipy==1.15.3 mmengine==0.10.7 ftfy==6.3.1 regex==2025.11.3 fvcore>=0.1.5 triton==3.0.0

# 3. install mmcv from OpenMMLab
# pip install mmcv==2.2.0 -f https://download.openmmlab.com/mmcv/dist/cu124/torch2.4/index.html

# 4. install causal-conv1d and mamba-ssm with --no-build-isolation to use PyTorch already installed
# pip install https://github.com/Dao-AILab/causal-conv1d/releases/download/v1.4.0/causal_conv1d-1.4.0+cu122torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
# pip install https://github.com/state-spaces/mamba/releases/download/v2.2.2/mamba_ssm-2.2.2+cu122torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl

# 5. install selective_scan
# cd /mnt/F/Research/ColonFormer/kernels/selective_scan
# pip install . --no-build-isolation
